*{
               margin: 0;
               padding: 0;
               box-sizing: border-box;
}

.top-text-body h1, h2{
               color: #124265; 
}
.top-text-body{
               background: url(../img/BACK.jfif);
}
.about-us h3{
color: #124265;
}
.logo{
               transition: all 300ms ease-in-out;
               filter: grayscale(100%);
}
.logo:hover{
              filter: grayscale(0%);
               transform: scale(1.2);
}
.number-container h1, p{
               color: #124265;
}
.voluntary-container h3{
               color: #124265; 
}