:root {
  --text-color: #124265;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-item {
  position: relative;
}
.nav-item::after {
  content: " ";
  display: none;
  height: 5px;
  width: 80%;
  left: 8px;
  bottom: 5px;
  position: absolute;
  background-color: rgb(120, 211, 253);
  transition: all 250ms ease-in-out;
}

.nav-item:hover::after {
  display: block;
}

.top-text-body h1,
h2 {
  color: var(--text-color);
}
.top-text-body {
  background: url(../img/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.about-us h2 {
  color: var(--text-color);
}
.client {
  overflow: hidden;
}
.logo {
  max-width: 45%;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  filter: grayscale(100%);
}
.logo:hover {
  filter: grayscale(0%);
  transform: scale(1.15);
}
.number-container h1,
p {
  color: var(--text-color);
}
.voluntary-container h3 {
  color: var(--text-color);
}
.section-tittles h2 {
  color: var(--text-color);
}
.testimonial-pic img {
  width: 100px;
  border-radius: 50%;
  height: 100px;
}
.testimonial-pic h3 {
  font-size: 15px;
}
.testimonial-pic h4 {
  font-size: 15px;
  opacity: 0.5;
}
.testimonial-text {
  background-color: #f3f9fd;
  border-radius: 10px;
  padding: 15px;
  font-style: italic;
  opacity: 0.5;
}
.testimonial-item {
  text-align: center;
  border-radius: 20%;
  min-height: 320px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.testimonial-text p {
  color: #000;
}
.testimonial-text p i {
  color: rgb(162, 209, 247);
}
.navigation-arrow a {
  position: fixed;
  left: 95%;
  bottom: 10px;
  background-color: rgb(22, 62, 240);
  color: #fff;
  width: 3rem;
  padding-left: 19px;
  height: 3rem;
  padding-top: 10px;
  border-radius: 10px;
}
#service {
  background-color: #f8fbfe;
  min-height: 950px;
}
.service-tittle h2 {
  color: var(--text-color);
}
#service .card {
  opacity: 1;
  border: none;
  background-color: #fff;
  margin: 20px auto;
  width: 22rem;
  height: 15rem;
}

.card i {
  color: rgb(11, 110, 156);
  margin: 30px auto;
  font-size: 2rem;
}
.card h4 {
  color: var(--text-color);
}
.card-1 i {
  font-size: 2rem;
  position: absolute;
  top: 9px;
  left: 10rem;
}
.card-1:hover svg path {
  fill: #467df5;
}
.card-1:hover i {
  color: #fff;
}
.card-2 i {
  color: rgb(238, 175, 38);
  font-size: 2rem;
  position: absolute;
  top: 20px;
  left: 10.5rem;
}
.card-2:hover svg path {
  fill: #f7ec82;
}
.card-2:hover i {
  color: #fff;
}
.card-3 svg {
  position: relative;
  width: 85.32px;
  height: 87.08px;
}
.card-3 svg path {
  width: 85.32px;
  height: 87.08px;
}
.card-3:hover svg path {
  fill: #e80368;
}
.card-3:hover i {
  color: #fff;
}
.card-3 i {
  color: #e80368;
  position: absolute;
  top: 7px;
  left: 10rem;
}
.card-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-4 i {
  color: rgb(238, 175, 38);
  font-size: 2rem;
  position: absolute;
  top: 20px;
  left: 10rem;
}
.card-4:hover svg path {
  fill: #f5df1b;
}
.card-4:hover i {
  color: #fff;
}
.card-5 i {
  color: orangered;
  position: absolute;
  top: 20px;
  left: 9.5rem;
}
.card-5:hover svg path {
  fill: #f46e45;
}
.card-5:hover i {
  color: #fff;
}
.card-6 i {
  color: rgb(0, 242, 255);
  position: absolute;
  top: 20px;
  left: 10rem;
}
.card-6:hover svg path {
  fill: #3af9ba;
}
.card-6:hover i {
  color: #fff;
}
/* .service-box {
  display: flex;
  gap: 10px;
} */
#action {
  min-height: 18rem;
  background-color: #2487ce;
}
.action-body button {
  border-color: #fff;
  width: 15rem;
  border-width: 2px;
  height: 3rem;
  padding: auto;
  color: #fff;
  border-radius: 10px;
  background-color: #2487ce;
}
.action-body button:hover {
  background-color: #fff;
  color: #2487ce;
}
.portfolio-body h3 {
  color: var(--text-color);
}
.portfolio-images ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  padding-top: 3rem;
  cursor: pointer;
}
.portfolio-images li:hover {
  color: rgb(5, 81, 157);
  opacity: unset;
}

.portfolio-card::before {
  content: "";
  background-color: rgb(36, 135, 206, 0.6);
  position: absolute;
  top: 30px;
  right: 30px;
  left: 30px;
  bottom: 30px;
  z-index: 2;
}
.portfolio-text::before {
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  z-index: 50;
  display: block;
  border-left: 3px solid #fff;
  border-top: 3px solid #fff;
}
.portfolio-text::after {
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  z-index: 50;
  display: block;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
.portfolio-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  flex-direction: column;
  transition: all ease-in-out 0.3s;
}
.portfolio-card {
  position: relative;
}

@media (max-width: 768px) {
  .logo {
    padding: 15px 0px;
    max-width: 40%;
  }
}
