:root {
  --text-color: #124265;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-item {
  position: relative;
}
.nav-item::after {
  content: " ";
  display: none;
  height: 5px;
  width: 80%;
  left: 8px;
  bottom: 5px;
  position: absolute;
  background-color: rgb(120, 211, 253);
  transition: all 250ms ease-in-out;
}

.nav-item:hover::after {
  display: block;
}

.top-text-body h1,
h2 {
  color: var(--text-color);
}
.top-text-body {
  background: url(../img/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.about-us h2 {
  color: var(--text-color);
}
.client {
  overflow: hidden;
}
.logo {
  max-width: 45%;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  filter: grayscale(100%);
}
.logo:hover {
  filter: grayscale(0%);
  transform: scale(1.15);
}
.number-container h1,
p {
  color: var(--text-color);
}
.voluntary-container h3 {
  color: var(--text-color);
}
.section-tittles h2 {
  color: var(--text-color);
}
.testimonial-pic img {
  width: 100px;
  border-radius: 50%;
  height: 100px;
}
.testimonial-pic h3 {
  font-size: 15px;
}
.testimonial-pic h4 {
  font-size: 15px;
  opacity: 0.5;
}
.testimonial-text {
  background-color: #f3f9fd;
  border-radius: 10px;
  padding: 15px;
  font-style: italic;
  opacity: 0.5;
}
.testimonial-item {
  text-align: center;
  border-radius: 20%;
  min-height: 320px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.testimonial-text p {
  color: #000;
}
.testimonial-text p i {
  color: rgb(162, 209, 247);
}
.testimonial-item {
  animation: scroll 50s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}
.navigation-arrow a {
  position: fixed;
  left: 95%;
  bottom: 10px;
  background-color: rgb(22, 62, 240);
  color: #fff;
  width: 3rem;
  padding-left: 19px;
  height: 3rem;
  padding-top: 10px;
  border-radius: 10px;
}
#service {
  background-color: #f8fbfe;
}
.service-tittle h2 {
  color: var(--text-color);
}
#service .card {
  opacity: 1;
  border: none;
  background-color: #fff;
  margin: 20px auto;
  width: 20rem;
  height: 15rem;
}
.card i {
  color: rgb(11, 110, 156);
  margin: 30px auto;
  font-size: 2rem;
}
.card h4 {
  color: var(--text-color);
}
.card-2 i {
  color: rgb(238, 175, 38);
  margin: 30px auto;
  font-size: 2rem;
}
.card-3 i {
  color: #e80368;
}
.card-4 i {
  color: orangered;
}
#action {
  min-height: 18rem;
}
.action-body button {
  border-color: #fff;
  width: 15rem;
  border-width: 2px;
  height: 3rem;
  padding: auto;
  border-radius: 10px;
}
.action-body button:hover {
  background-color: #fff;
  color: blue;
}
.portfolio-body h3 {
  color: var(--text-color);
}

@media (max-width: 768px) {
  .logo {
    padding: 15px 0px;
    max-width: 40%;
  }
}
